<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+/)?(css|js|img|fonts)/(.+)$ jsbabel/application/asset/$2/$3 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+/)?templates/(.+)$ jsbabel/application/views/templates/$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ jsbabel/index.php?/$1 [L]


</IfModule>