<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My sites</title>
        <link rel="stylesheet" type="text/css" href="css/selectlist.css" />
        <script type="text/javascript" src="js/jquery.selectlist.min.js"></script>
        <style type="text/css">
            legend
            {
                width: auto;
                margin-bottom: auto;
            }
            fieldset
            {
                border: solid blue 1px;
                padding: 10px;
                margin: 10px;

            }
            select
            {
                width: 100%;
            }
            div.anchorValue
            {
                display: none;
            }
        </style>
    </head>

    <body>
        <div class="content" >
            <div class="body row">

                <div class="col-md-2"></div>
                <div class="col-md-8 center-text">

                    <h1>My sites</h1>
                    <h2 ng-show="pageData.sites.length == 0">You currently have no sites to translate.</h2>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="body row site" ng-repeat="site in pageData.sites">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="post" action="mysites/update" target="res">
                        <input type="hidden" name="siteid" class="siteid" value="{{site.siteId}}">
                        <fieldset class="outerfields">
                            <legend>
                                <img src="img/delete.png" class="deletesite clickable" alt="Remove this site" title="Remove this site"/>
                                <span class="jsb_notranslate">{{site.host}}</span>
                            </legend>
                            <div class="container" >
                                <div class="row">
                                    <fieldset class="innerfields col-md-4">
                                        <legend>Original site language</legend>

                                        <select id="baseLanguage" name="baseLanguage" class="siteproperty jsb_notranslate form-control">
                                            <option ng-repeat="loc in pageData.locales" selected="selected" ng-if = "loc.code == site.base_locale" value="{{loc.code}}">
                                                {{loc.displayName}}
                                            </option>
                                            <option ng-repeat="loc in pageData.locales" ng-if = "loc.code != site.base_locale" value="{{loc.code}}">
                                                {{loc.displayName}}
                                            </option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="innerfields col-md-4">
                                        <legend>Translated languages</legend>
                                        <select multiple id="targetLanguage" name="targetLanguage[]"
                                                class="targetLanguage siteproperty jsb_notranslate form-control" title="Select a language">

                                            <option ng-repeat="loc in pageData.locales" selected="selected" ng-if = "site.target_locales.indexOf(loc.code) != -1" value="{{loc.code}}">
                                                {{loc.displayName}}
                                            </option>
                                            <option ng-repeat="loc in pageData.locales" ng-if = "site.target_locales.indexOf(loc.code) == -1" value="{{loc.code}}">
                                                {{loc.displayName}}
                                            </option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="innerfields col-md-4">
                                        <legend>Anchor language flags to: </legend>
                                        <div class="anchorValue">{{site.anchor}}</div>
                                        <input type="radio" name="anchor" value="L" class="siteproperty " >
                                        left margin of the page<BR />
                                        <input type="radio" name="anchor" value="C" class="siteproperty ">
                                        center of the page<BR />
                                    </fieldset>

                                </div>
                            </div>

                        </fieldset>
                    </form> 
                </div>
                <div class="col-md-2"></div>

            </div>
            <div class="col-md-2"></div>
            <form class = "col-md-8" id="addsiteform">
                <fieldset class="outerfields">
                    <legend>Add a new site</legend>
                    <div class="form-group center-text" >
                        <label for="addsite">Site address: </label>
                        <input id="sitename" name="host" type="text" placeholder="http://www.your site.com" class="form-control">
                        <input type="submit" id="addbtn" value="Add" class="btn btn-default">
                    </div>
                </fieldset>
            </form>
            <div class="col-md-2"></div>
        </div>
        <script type="text/javascript">

            //this is the request than angularjs will send to server to populate controller
            //see header.html
            window.controllerRequest = "mysites/site_list";

            window.controllerReady = function () {
                $('#sitename').val(getQueryVariable('host'));
                $('select.targetLanguage').selectList({
                    addAnimate: function (item, callback) {
                        $(item).slideDown(500, callback);
                    },
                    removeAnimate: function (item, callback) {
                        $(item).slideUp(500, callback);
                    },
                    onRemove: elementChanged,
                    template: '<li title="Remove"><img src="mysites/get_flag/%value%">%text%</li>'
                });

                $('input[name="anchor"]').each(function () {
                    var me = $(this);
                    if (me.val() == me.siblings('.anchorValue').text())
                        me.attr("checked", true);
                });

                $('#addbtn').click(function (e) {
                    e.preventDefault();
                    beginWaitingMessage();
                    var formData = $(this).parents("form").serialize();

                    $.post("mysites/add", formData, function (res) {
                        endWaitingMessage();
                        if (res.code === 0)
                            location.reload();
                        else
                            showError(res.code);
                    });
                });
                $('.deletesite').click(deleteSite);
                $(".siteproperty").change(somethingChanged);

            };
            this.somethingChanged = function () {
                elementChanged(this);
            }
            this.elementChanged = function (el)
            {
                var data = $(el).parents("form").serialize();
                $.post("mysites/update", data, function (res) {
                    if (res.code !== 0)
                        showError(res.code);
                });
            }
            function getQueryVariable(variable) {
                if (location.search.length == 0)
                    return "";
                var query = location.search.substring(1);
                var vars = query.split('&');
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split('=');
                    if (decodeURIComponent(pair[0]) == variable) {
                        return decodeURIComponent(pair[1]);
                    }
                }
                return "";
            }
            function deleteSite()
            {
                //retreive the div containing the site information
                var siteDiv = $(this).closest("div.site");
                doMessage(_jsb("Are you really sure to remove this site?\nALL RELATED DATA WILL BE DEFINITIVELY ERASED, INCLUDING TRANSLATIONS. DO YOU CONFIRM DELETION?"), yesDeleteSite);
                function yesDeleteSite()
                {
                    beginWaitingMessage();
                    var siteIdField = $(".siteid", siteDiv);
                    $.getJSON("mysites/delete/" + siteIdField.val(), function (data) {
                        endWaitingMessage();
                        if (data.code === 0)
                            siteDiv.remove();
                        else
                            showError(res.code);
                    });
                }
            }
            function showError(code)
            {
                var INVALID_USER = 1;
                var INVALID_URL = 2;
                var CANNOT_DELETE_SITE = 3;
                var CANNOT_CREATE_SITE = 4;
                var CANNOT_UPDATE_SITE = 5;
                var SITE_ALREADY_EXISTING = 6;
                var USER_HAS_NO_RIGHTS = 7;

                var msg = "";
                switch (code)
                {
                    case INVALID_USER:
                        msg = _jsb("You must be logged in to perform this operation.");
                        break;
                    case INVALID_URL:
                        msg = _jsb("Invalid site address.");
                        break;
                    case CANNOT_DELETE_SITE:
                        msg = _jsb("Cannot delete this site.");
                        break;
                    case CANNOT_CREATE_SITE:
                        msg = _jsb("Cannot create this site.");
                        break;
                    case CANNOT_UPDATE_SITE:
                        msg = _jsb("Cannot update this site.");
                        break;
                    case SITE_ALREADY_EXISTING:
                        msg = _jsb("Site already existing.");
                        break;
                    case USER_HAS_NO_RIGHTS:
                        msg = _jsb("You do not have the permissions to perform this operation.");
                        break;
                }
                doMessage(msg);
            }
        </script>
    </body>

</html>
