<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="import" href="templates/header.html">
        <title>My sites</title>
        <link rel="stylesheet" type="text/css" href="css/selectlist.css" />
        <script type="text/javascript" src="js/jquery.selectlist.min.js"></script>
    </head>

    <body>
        <div class="content" >
            <div class="body row">

                <div class="col-md-3"></div>
                <div class="col-md-6 center-text">

                    <h1>My sites</h1>
                    <p ng-show="!pageData.sites">You currently have no sites to translate.</p>
                    <p ng-show="pageData.sites">You are translating these sites:</p>

                </div>
                <div class="col-md-3"></div>

                <form id="addsiteform">
                    <fieldset class="outerfields">
                        <legend>Add a new site</legend>
                        <label for="addsite">Site url: </label>
                        <input id="sitename" style="width: 300px;" name="sitename" type="text" placeholder="http://www.your site.com">
                        <input type="submit" id="addbtn" value="Add">
                    </fieldset>
                </form>
            </div>
            <div class="body row">

                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form method="post" action="servlet/settings" ng-repeat="site in pageData.sites">
                        <input type="hidden" name="siteid" class="siteid" value="{{site.siteId}}">
                        <input type="hidden" name="sitedomain" class="sitedomain" value="{{site.host}}>">
                        <fieldset class="outerfields">
                            <legend>
                                <img src="img/delete.png" class="deletesite clickable" alt="Remove this site" title="Remove this site"/>
                                <span class="jsb_notranslate">{{site.host}}</span>
                            </legend>
                            <table>
                                <tr>
                                    <td><fieldset class="innerfields">
                                            <legend>Original site language</legend>

                                            <select id="baseLanguage" name="baseLanguage" class="siteproperty jsb_notranslate">
                                                <option ng-repeat="loc in pageData.locales" selected="selected" ng-if = "loc.code == site.base_locale" value="{{loc.code}}">
                                                    {{loc.displayName}}
                                                </option>
                                                <option ng-repeat="loc in pageData.locales" ng-if = "loc.code != site.base_locale" value="{{loc.code}}">
                                                    {{loc.displayName}}
                                                </option>
                                            </select>
                                        </fieldset>
                                        <fieldset class="innerfields">
                                            <legend>Anchor translation toolbar to: </legend>
                                            <input type="radio" name="anchor" value="L" class="siteproperty" ng-if="site.anchor == 'L'" checked>
                                            <input type="radio" name="anchor" value="L" class="siteproperty" ng-if="site.anchor != 'L'" >
                                            left margin of the page<BR />
                                            <input type="radio" name="anchor" value="C" class="siteproperty" ng-if="site.anchor == 'C'" checked>
                                            <input type="radio" name="anchor" value="C" class="siteproperty" ng-if="site.anchor != 'C'" >
                                            center of the page<BR />
                                        </fieldset>
                                    </td>
                                    <td>
                                        <fieldset class="innerfields">
                                            <legend>Translated languages</legend>
                                            <select multiple id="targetLanguage" name="targetLanguage"
                                                    class="targetLanguage siteproperty jsb_notranslate" title="Select a language">

                                                <option ng-repeat="loc in pageData.locales" selected="selected" ng-if = "site.target_locales.indexOf(loc.code) != -1" value="{{loc.code}}">
                                                    {{loc.displayName}}
                                                </option>
                                                <option ng-repeat="loc in pageData.locales" ng-if = "site.target_locales.indexOf(loc.code) == -1" value="{{loc.code}}">
                                                    {{loc.displayName}}
                                                </option>
                                            </select>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <!--                                <fieldset class="innerfields">
                                                                            <legend>Manage site translations</legend>
                                                                            <%
                                                                            for (TargetLocale tl : site.getTargetLocales()) {
                                                                            Locale l = Helper.fromLanguageCode(tl.getLocale());
                                                                            %>
                                                                            <a title="<%=l.getDisplayName(l)%>" href="sitetranslations.jsp?siteid=<%=site.getId()%>&targetlocale=<%=tl.getLocale()%>" ><%=l.getDisplayName(l)%></a>
                                                                        </fieldset>-->
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </form> 
                </div>
                <div class="col-md-3"></div>

            </div>

        </div>
        <script type="text/javascript">

            //this is the request than angularjs will send to server to populate controller
            //see header.html
            window.controllerRequest = "mysites/site_list";

            this.somethingChanged = function () {
                elementChanged(this);
            }
            this.elementChanged = function (el)
            {
                var data = $(el).parents("form").serialize();
                $.post("/servlet/mysites?cmd=sitechange", data, function (res) {
                    if (!res.success)
                        alert(res.message);
                });
            }
            window.controllerReady = function () {

                $('select.targetLanguage').selectList({
                    addAnimate: function (item, callback) {
                        $(item).slideDown(500, callback);
                    },
                    removeAnimate: function (item, callback) {
                        $(item).slideUp(500, callback);
                    },
                    onRemove: elementChanged,
                    template: '<li title="Remove"><img src="mysites/get_flag/%value%">%text%<img style="float:right" src="img/cross-circle.png"></li>'
                });
                $('#addbtn').click(function (e) {
                    e.preventDefault();
                    beginWaitingMessage();
                    var formData = $(this).parents("form").serialize();
                    $.getJSON("/servlet/mysites", {"cmd": "checksite", "shouldnotexist": true, "sitename": $("#sitename").val()}, function (data) {
                        endWaitingMessage();
                        if (data.success == true)
                        {
                            $.post("/servlet/mysites?cmd=add", formData, function (res) {
                                if (res.success)
                                    location.reload();
                                else
                                    alert(res.message);
                            });
                        }
                        else
                            alert(data.message);
                    });
                });
                $('.deletesite').click(function () {
                    if (confirm(_jsb("Are you sure to remove this site?")))
                    {
                        beginWaitingMessage();
                        var f = $(this).parents("form");
                        var siteIdField = $(".siteid", f);
                        $.getJSON("/servlet/mysites", {"cmd": "deletesite", "siteid": siteIdField.val()}, function (data) {
                            endWaitingMessage();
                            if (data.success == true)
                                f.remove();
                            else
                                alert(data.message);
                        });
                    }
                });

                $(".siteproperty").change(somethingChanged);

            };
        </script>
    </body>

</html>
