<!DOCTYPE html>

<html>
    <head lang="en">
        <link rel="import" href="templates/header.html">
        <script>
            function doMessage()
            {
                alert(_jsb("Hello"));
            }
        </script>
    </head> 
    <body>
        <div>IGNORE ME</div>
        <button onclick="doMessage();">hello</button>
        <p id="complicatedParagraph">
            This <b>nice</b> <i>paragraph</i> contains different <big>formatting</big>
    <a title="This &egrave; test link" href="www.mtbscout.it">styles</a>
</p>


</body>
</html>
