<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
<link href="../css/reset.css" type="text/css" rel="stylesheet" />
<link href="../css/fonts.css" type="text/css" rel="stylesheet"/>
<link href="../css/jsbabel.css" type="text/css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="../js/babel.js"></script>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta name="keywords" content="Software, sviluppo, development, c++, c#, java, javascript">
<meta name="description" content="Software development">

<script >
    $(function () {
        $('body').css({"min-height": $(window).innerHeight()});
        $(window).resize(function () {
            $('body').css({"min-height": $(window).innerHeight()});
        });
        var jContainer = $('div.content');
        $.get("templates/visualheader.html", null, function (data) {
            jContainer.prepend($(data));
        })

        $.get("templates/footer.html", null, function (data) {
            jContainer.append($(data));
        })
        jContainer.attr("ng-app", "").attr("ng-controller", "jsbController");
        
        $.getScript("//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js");
    });

    function jsbController($scope, $http) {
        $http.get("home/data")
                .success(function (response) {
                    $scope.data = response;
                });
    }
</script>