<div class="header row">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a href="" title="Pagina principale"><img alt="logo" class = 'logo' src="img/logo.png"/></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav" ng-show="data.user">

                <li class="user"><a href="mydata">My data</a></li>
                <li class="mysites"><a href="mysites">My sites</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style = "padding-right: 30px">
                <li class="dropdown" ng-show="data.user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello, {{data.user.name + " " + data.user.surname}}</a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:__babel.logoff()">Logoff</a></li>
                    </ul>
                </li>
                <li class="logon" ng-show="!data.user">
                    <a href="javascript:__babel.login();">Logon</a>

                </li>
            </ul>
        </div> 
    </nav>

</div>
<div class="modal fade" id="messageDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                JSBabel
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="btnOk" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="waitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Working...
            </div>
            <div class="modal-body center-text" >
                <img alt="working" src="img/loading.gif"/>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>